<div class="container">
<%= simple_form_for([@costume, @booking]) do |f| %>
    <div class="field">
    <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
</div>
    
 <div class="field">
    <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
</div>
    
<div class="actions">
    <%= f.submit "Submit" %>
    </div>
    <% end %>
</div>