<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <h1>le costume wagon</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</div>
</div>
<%= link_to costumes_path do %>
  <%= image_tag 'home 2.png', class: "home-image" %>
<% end %>
