.navbar-lewagon {
  justify-content: space-between;
  background: #F8F8F8;
  height: 100px;
  margin: 0;
}

.navbar-lewagon h1 {
  font-weight: 900;
  font-size: 30px;
  font-family: "Montserrat Subrayada", sans-serif;
  font-style: normal;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-gradient {
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  display: inline-block;
}

.field {
  display: inline-block;
}

.search-bar {
  text-align: center;
}

.search {
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  padding-left: 30px;
}

.search:focus {
  background-color: white;
  outline: none;
}

.search {
  padding-left: 30px;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  -webkit-text-stroke: 0.1px;
}
